events {
    worker_connections 1024;
}

http {
    server {
        server_name zwlim.com www.zwlim.com;
        include  /etc/nginx/mime.types;
        location / {
            root {{ site_directory }};
        }
    }
}
